.gallery_fix {
  -webkit-mask-box-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='200' height='200' xmlns:xlink='http://www.w3.org/1999/xlink'><polygon points='27,0   173,0  200,27  200,173 173,200                   27,200  0,173  0, 27' fill='#000' x='0' y='0'/></svg>") round;
  display: block;
  width: 200px;
  height: 200px;
  float: left;
  margin: 15px;
  background: #c10;
  position: relative;
  overflow: hidden;
}

.gallery_fix img {
  transition: -webkit-filter 0.2s;
}

.gallery_fix:hover img {
  -webkit-filter: grayscale(100%);
}

.gallery_fix:hover figcaption {
  top: 0;
}

.gallery_fix:hover .address {
  opacity: 1;
}

figcaption {
  transition: top 0.2s;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 13px 27px;
  top: 155px;
  left: 0;
  background: rgba(204, 17, 0, 0.9);
  font-weight: 400;
}

.address {
  transition: opacity 0.2s;
  font-weight: 300;
  margin-top: 10px;
  color: #eba099;
  opacity: 0;
}
